.btn {
  cursor: pointer;
  border-radius: 51px;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  padding: 12px 65px;
  
  border: 2px solid transparent;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  &:hover{
    background-color: #fff;
    border-color: #fff;
    color: #000
  }
}

.btn-yellow{
  width: 394px;
  color: #000;
  background-color: #CFFB03;
}
.btn-black{
  width: 458px;
  color: #fff;
  border-color: #fff;
  background-color: #000;
}

