@import 'src/resourses/styles/style.scss';

.share-section {
  margin-bottom: 130px;
  @media(max-width: 768px) {
    margin-bottom: 68px;
  }

  //.share-section-wrapper
  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  //.share-section-img-bg
  &-img-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    @media(max-width: 475px) {
      max-width: 132px;
      width: 100%;
      height: auto;
      top: 43%;
    }

    max-width: 240px;
    width: 100%;

    img{
      width: 100%;
      height: auto;
    }
  }

  //.share-section-title-container
  &-title-container {
    margin-bottom: 78px;
    @media(max-width: 475px) {
      margin-bottom: 40px;
    }

    .share-section-title {
      max-width: 90%;
      width: 100%;

      &:first-child{
        margin-bottom: 235px;
        @media(max-width: 475px) {
          margin-bottom: 0;
        }
      }
      &:last-child{
        margin-right: 0;
        margin-left: auto;
        @media(max-width: 475px) {
          margin-left: 0;
          float: right;
          max-width: 300px;
          margin-top: 140px;
        }
      }
    }
  }

  //.share-section-btn
  &-btn {
    max-width: 522px;
    width: 100%;
    margin: 0 auto;
  }

  //.share-alert
  .share-alert {
    pointer-events: none;
    position: fixed;
    bottom: -50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 0);
    background-color: $yellow;
    color: #000;
    -webkit-transition: bottom .3s ease, opacity .3s ease .2s;
    -moz-transition: bottom .3s ease, opacity .3s ease .2s;
    -ms-transition: bottom .3s ease, opacity .3s ease .2s;
    -o-transition: bottom .3s ease, opacity .3s ease .2s;
    transition: bottom .3s ease, opacity .3s ease .2s;

    svg path {
      fill: #000;
    }

    &.share-alert__visible {
      bottom: 5%;
      opacity: 1;
    }
  }
}