.h1{
  font-weight: 400;
  font-size: 170px;
  line-height: 91%;
  text-transform: uppercase;
  color: #fff;
}

.h2{
  font-style: normal;
  font-weight: 400;
  font-size: 82px;
  line-height: 90%;
  text-transform: uppercase;
  color: #CFFB03;

  span{
    font-family: 'Sprite coder', sans-serif;
  }
}

.h2-video{
  font-size: 130px;
  line-height: 86%;
}
.h2-black{
  color: #000;
}

.h3{
  font-size: 36px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.h3-left{
  text-align: left;
}