@import "src/resourses/styles/style.scss";

.brigades-section {
  margin-bottom: 220px;
  @media(max-width: 768px) {
    margin-bottom: 120px;
  }
  @media(max-width: 475px) {
    margin-bottom: 86px;
  }
  //.brigades-section__wrapper
  &__wrapper {

  }

  //.section__title__container
  &__title__container {
    margin-bottom: 95px;
    display: flex;
    align-items: flex-end;
    @media(max-width: 768px) {
      margin-bottom: 36px;
      flex-direction: column;
    }
  }
  //.brigades-section__title
  &__title {
    flex: 0 0 calc(66.62% - 20px);
    margin-right: 20px;
    @media(max-width: 768px) {
      margin-right: 0;
    }
  }
  //.brigades-section__subtitle
  &__subtitle {
    font-family: $font-normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    @media(max-width: 768px) {
      font-size: 14px;
      margin-top: 20px;
      max-width: 50%;
    }
    @media(max-width: 475px) {
      font-size: 11px;
      margin-top: 10px;
    }
  }

  //.brigades-section__list
  &__list {

  }
}