@import "src/resourses/styles/style.scss";
.accordion-container{
  .accordion-item{
    background-color: transparent;
    box-shadow: unset;
    &:before{
      display: none;
    }
  }
  .accordion-summary_group {
    display: flex;
    align-items: center;
  }
  .accordion-summary_group-details{
    @media(max-width: 1200px) {
      display: flex;
      align-items: center;
    }
  }
  .accordion-summary_group-details {
    @media (max-width: 992px) {
      margin-left: 100px;
    }
    @media (max-width: 768px) {
      margin-left: 85px;
    }
    @media (max-width: 476px) {
      margin-left: 55px;
    }
  }

  .accordion-header {
    cursor: pointer;
    background-color: #000;
    border: 2px solid #FFFFFF;
    border-radius: 85px;
    padding: 7px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-normal;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    @media(max-width: 475px) {
      padding: 4px 20px;
      border-radius: 45px;
    }

    &:hover{
      background-color: #fff;

      .accordion-title, .accordion-signature, .accordion-collected, .accordion-icon-more {
        color: #000;
      }
      .accordion-icon-more {
        /*-webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);*/
      }

    }

    //.accordion-header-content
    &-content {
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      @media(max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .accordion-img {
      flex: 0 0 72px;
      margin-right: 17px;
      @media(max-width: 476px) {
        max-width: 44px;
        width: 100%;
        height: auto;
        margin-right: 6px;
      }
    }

    .accordion-title {

      text-transform: uppercase;
      font-weight: 400;
      font-size: 36px;
      line-height: 100%;
      color: #FFFFFF;
      margin-right: 25px;
      //flex: 1 0 auto;
      @media(max-width: 992px) {
        font-size: 28px;
      }
      @media (max-width: 768px) {
        font-size: 24px;
        display: block;
        width: 90%;
        margin-right: 0;
      }
      @media(max-width: 475px) {
        font-size: 18px;
        width: 85%;
      }
    }

    .accordion-signature {
      font-weight: 400;
      font-size: 24px;
      line-height: 121.5%;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-right: 30px;
      @media(max-width: 992px) {
        font-size: 18px;
      }
      @media(max-width: 768px) {
        font-size: 16px;
      }
      @media(max-width: 475px) {
        font-size: 11px;
      }
    }

    .accordion-collected {
      font-weight: 400;
      font-size: 36px;
      line-height: 100%;
      text-transform: uppercase;
      color: $yellow;
      margin-right: 40px;
      @media(max-width: 992px) {
        font-size: 28px;
      }
      @media(max-width: 768px) {
        font-size: 24px;
      }
      @media(max-width: 475px) {
        font-size: 18px;
      }
    }

    .accordion-title, .accordion-signature, .accordion-collected, .accordion-icon-more {
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }

    .accordion-icon-more {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      color: #fff;

      &.accordion-icon-more__collapsed {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
  }

  .accordion-detail-content {
    //background-color: #000;
    margin: 0 auto;
    max-width: 1500px;
    display: flex;
    align-items: flex-start;
    padding: 35px 0 46px;
    @media(max-width: 768px) {
      flex-direction: column;
    }

    .accordion-detail-video {
      max-width: 738px;
      width: 100%;
      height: 400px;
      margin-right: 20px;
      @media(max-width: 768px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
      @media(max-width: 475px) {
        height: 250px;
      }
      @media(max-width: 375px) {
        height: 176px;
      }

      iframe{
        width: 100%;
        height: 100%;

      }
    }
    .accordion-detail-info {
      //flex: 1 0 auto;
      width: 100%;

    }

    .accordion-detail-table {
      border: 1px solid $yellow;
      border-radius: 20px;
      padding: 24px 34px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
      font-family: $font-normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      text-transform: uppercase;
      color: #fff;
      @media(max-width: 475px) {
        padding: 20px;
        font-size: 14px;
      }
      @media(max-width: 375px) {
        font-size: 11px;
      }

      //.accordion-detail-table__item
      &__item {
        display: flex;
        //display: grid;
        //grid-template-columns: 200px 300px;
        width: 100%;
        margin-bottom: 10px;

        &:last-child{
          margin-bottom: 0;
        }
      }

      //.accordion-detail-table__description
      &__description {
        flex: 0 0 200px;
        color: $yellow;
        @media(max-width: 425px) {
          flex: 0 0 50%;
        }
      }

      //.accordion-detail-table__value
      &__value {
        //flex: 1 0 auto;
      }
    }

    .accordion-detail-text {
      font-family: $font-normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 121.5%;
      color: #FFFFFF;
      margin-bottom: 30px;
      @media(max-width: 475px) {
        font-size: 16px;
      }
    }

    .accordion-detail-socials {
      max-width: 140px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      //.accordion-detail-socials__item {
      &__item {

        svg path {
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -ms-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease;
        }

        max-width: 32px;

        &:hover {
          svg path {
            fill: $yellow;
          }
        }
      }
    }
  }

}

