@import "src/resourses/styles/style.scss";

.footer {
  padding: 55px 0;

  //.footer-wrapper
  &-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  //.footer-socials
  &-socials {
    display: flex;
    max-width: 188px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    //.footer-socials__item
    &__item {
      max-width: 32px;
      margin-right: 12px;

      &:last-child{
        margin-right: 0;
      }

      &:hover{
        svg path{
          fill: $yellow;
        }
      }

      svg path{
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
      }
    }
  }

  //.footer-creators
  &-creators {
    font-family: $font-normal;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 121.5%;
    color: #FFFFFF;

    span{
      margin: 0 5px;
    }

    a{

      &:hover {
        svg path{
          fill: $yellow;
        }
      }
      svg path{
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
      }
    }
  }

  //.footer-copyrights
  &-copyrights {
    max-width: 477px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    p{
      cursor: default;
    }

    //.footer-copyrights__item
    &__item {
      font-family: $font-normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 121.5%;
      text-transform: capitalize;
      color: #FFFFFF;
      margin-right: 20px;
      text-decoration: none;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;

      &:hover{
        color: $yellow;
      }

      &:last-child{
        margin-right: 0;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}

