@font-face {
	font-family: 'Helvetica';
	src: url('./resourses/fonts/Helvetica.ttf');
}

@font-face {
  font-family: 'SpriteCoder';
  src: url('./resourses/fonts/Spritecoder_Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: 'Helvetica', sans-serif;
}

body{
    background-color: #000000;
}

.container {
    max-width: 1720px;
    width: 100%;
    margin: auto;
}

header {
    margin: 20px 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    max-width: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reddit-input {
    padding: 16px;
}

.header-btn {
    width: auto !important;
    height: auto !important;
    padding: 3px 25px !important;
    font-size: 20px !important;
}

@media screen and (max-width: 1720px) {
    .container {
        padding: 0 2%;
    }
}

@media screen and (max-width: 1320px) {
    .container {
        padding: 0 5%;
    }
}