@font-face {
	font-family: 'Helvetica';
	src: url('./resourses/fonts/Helvetica.ttf');
}

@font-face {
  font-family: 'SpriteCoder';
  src: url('./resourses/fonts/Spritecoder_Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: 'Helvetica', sans-serif;
}

body{
    background-color: #000000;
}

.container {
    max-width: 1720px;
    width: 100%;
    margin: auto;
}

header {
    margin: 20px 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    max-width: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reddit-input {
    padding: 16px;
}

.header-btn {
    width: auto !important;
    height: auto !important;
    padding: 3px 25px !important;
    font-size: 20px !important;
}

.video-main {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%);
    width: 224px;
    height: 124px;
    background: #595959;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main-section {
    margin: 100px 0 112px;
}

.participation {
    font-size: 16px;
    line-height: 121.5%;
    color: #FFFFFF;
    margin-bottom: 24px;
    margin-top: 76px;
}

.participation-wrapper {
    display: flex;
    align-items: center;
}
.participation-wrapper .items {
    margin-right: 24px;
    display: flex;
    align-items: center;
}
.participation-wrapper .items p {
    color: #FFFFFF;
    font-size: 17px;
    line-height: 120%;
    text-transform: capitalize;
    max-width: 160px;
    width: 100%;
    margin-left: 16px;
}
.community {
    margin-top: 230px;
    margin-bottom: 200px;
}

.community-wrapper {
    background: #CFFB03;
    border: 1px solid #CFFB03;
    border-radius: 36px;
    padding: 55px 65px;
}

.community-text {
    margin: 20px 0 36px;
    color: #000000;
    font-size: 36px;
    max-width: 1000px;
    width: 100%;
}

@media screen and (max-width: 1720px) {
    .container {
        padding: 0 2%;
    }
}

@media screen and (max-width: 1320px) {
    .container {
        padding: 0 5%;
    }
}