@font-face {
	font-family: 'Helvetica';
	src: url('./resourses/fonts/Helvetica.ttf');
}

@font-face {
  font-family: 'SpriteCoder';
  src: url('./resourses/fonts/Spritecoder_Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: 'Helvetica', sans-serif;
}

body{
    background-color: #000;
}