@import "src/resourses/styles/style.scss";

.img-container {
  width: 100%;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.img-sm {
  max-width: 72px;
  height: 72px;
}

.img-md {
  max-width: 468px;
  height: 468px;
}

.img-lg {
  max-width: 474px;
  height: 474px;
  @media(max-width: 475px) {
    max-width: 320px;
    height: auto;
    width: 100%;
  }
}

.img-xl {
  max-width: 787px;
  height: 787px;
}